<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">
    <style>
        body { background-color: WhiteSmoke; }
        .login-form { width: 300px; margin: 100px auto; }
    </style>
</head>
<body>
<div class="login-form">
    <h2>Please sign in</h2>
    <form th:action="@{/process_login}" method="post">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Email address" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
    <div th:if="${param.error}" class="text-danger mt-2">Неправильные имя или пароль</div>
</div>
</body>
</html>
